name: build

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        toolchain: [nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: brndnmtthws/rust-action@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Cargo build
        run: cargo build --all --all-targets
